name: Deploy webupdates

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v3
        with:
          node-version: '20'

      - run: npm install -g firebase-tools@12.5.2
      - run: yarn --frozen-lockfile

      - name: 'Authenticate with Google Cloud'
        uses: 'google-github-actions/auth@v1'
        with:
          credentials_json: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_WEBUPDATES }}'

      # Deploy directly with project ID
      - run: export NODE_OPTIONS="--max_old_space_size=4096"
      - run: firebase deploy --only hosting --project webupdates --debug
